<%= form_tag(users_path, method: :get) do %>
  <div class="input-group">
    <%= text_field_tag :name, name, placeholder: "Name", class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: "btn btn-default" %>
    </span>
  </div>
<% end %>
