<h3>
  Participating Users <span class="badge"><%= users.count %></span>
</h3>

<table class="table">
  <% users.each do |user| %>
    <% if user != current_user %>
      <tr>
        <td><%= truncate(user.name, length: 20) %></td>
        <% if @wall.owner_user?(current_user) %>
          <td><%= render 'participants/leave_form',
                         wall: wall,
                         user: user %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
