<h3>Posts</h3>
<%= form_for participant.posts.build do |f| %>
  <%= f.hidden_field :participant_id %>
  <%= f.text_area :content %>
  <p><%= f.submit "Post", class: "btn btn-large btn-primary" %></p>
<% end %>
