@import "bootstrap";

.center {
  text-align: center;
}

/* Home */
.icon-large {
  font-size: 90px;
}

/* Posts */
.timestamp {
  font-size: 90%;
  color: $gray-light;
}

textarea.post_form {
  width: 100%;
  height: 5em;
}
