@import "bootstrap";

.center {
  text-align: center;
}

/* Home */
.icon-large {
  font-size: 90px;
}

/* User */
.user_search {
  margin-top:    30px;
  margin-bottom: 30px;
  width: 500px;
}

/* Posts */
.timestamp {
  font-size: 90%;
  color: $gray-light;
}

textarea.post_form {
  width: 100%;
  height: 5em;
}
